<div class="container">
  
    <div class="left">
      <div class="img"></div>
    </div>
    
    <div class="right">
      <div class="form">
        <div class="avatar-img"></div>
        <h2>WELCOME</h2>
         <input class="icon" type="email" placeholder="Email Address"> 
        <input type="password" placeholder="Password">
        <p><a href="#">Forgot Password</a></p>
         <button class="form-button">LOGIN</button>
         <button class="form-button">REGISTER</button>
      </div>
    </div>
  </div>