*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width: 100%; 
    margin: auto;
  }
  .left{  
    flex-basis:40%;   
  }
  .left .img{
    background-image:url("https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/82b8d8efd3b0ac6382b9d0d71a99c6cf9dcefa23/img/bg.svg"); 
    display:flex; 
    height: 100vh; 
    width: 90%;
      background-size: contain;
    background-repeat:no-repeat;
    background-position: left; 
  }
  .right{  
    display:flex; 
    flex-basis:50%;     
    height: 100vh;
    background: #fff; 
    flex-direction:column;  
    justify-content:center; 
    align-items:center;
    
  }
  .right .form{
    display:flex;
    max-width:90%;
    flex-direction: column; 
    align-items:center;
  }
  
  .right .avatar-img{
    background-image:url("https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/82b8d8efd3b0ac6382b9d0d71a99c6cf9dcefa23/img/avatar.svg");
    background-size: cover; 
    height: 85px;
    width: 85px; 
    margin-bottom: 30px;
  }
  .right h2{
    font-size:30px;
    font-family: "Gill Sans", sans-serif;
    margin-bottom:5px;
  }
  .right .form input:focus{
    outline: 0;
   }
  .right .form input{     
    margin-top: 10px;
    margin-bottom: 15px;
    padding:15px;
    color:#333;
    font-size:16px;
    width: 300px;
    font-family: sans-serif;
    border: none;
    border-bottom:2px solid #28BE8A; 
  } 
  
  
  .right .form p{ 
    display:flex;
    margin-top: 20px; 
    margin-bottom: 30px; 
    align-self:flex-end; 
    font-family: "Gill Sans", sans-serif;
    font-size:12px;
  }
  .right .form p a{
    color:#333;
    text-decoration:none;
  } 
  .right .form .form-button{ 
    padding:12px 20px;
    margin-bottom: 20px;
    width: 300px;
    border:0;
    background: #28BE8A; 
    border-radius: 50px;
    color:#fff;
    font-family: sans-serif;
    font-weight:700;
    letter-spacing: 2px;
    cursor:pointer;
  }

  .right .form .form-button:focus{
    outline: 0;
  }
  
  
  @media screen and (max-width: 950px) {
    .left{  
      flex-basis:0%;
    }
    .right{    
      flex-basis:100%;   
    
    }
  }